<VirtualHost *:80>
    DocumentRoot "/var/www/PROJECT"
    ServerName PROJECT.devstack

    <Directory "/var/www/PROJECT">
        DirectoryIndex index.html index.php
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>